name: Deploy Flask App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            if [ ! -d "/home/ec2-user/flask-app" ]; then
              git clone https://github.com/raghulsidd22/devops-assgn.git /home/ec2-user/flask-app
            fi
            cd /home/ec2-user/flask-app
            git pull origin main
            pip3 install -r requirements.txt
            sudo systemctl restart flask-app